.bangumi-copy-title-flow{ 
  position: fixed;
  top: 6vh;
  right: 0;
  box-shadow: 2px 6px 10px 0px #0e121629 ;
  background-color: #fff;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /**
  was 150px 40px
  **/
  box-sizing: border-box;
}

.bangumi-copy-title-flow-header{
  width: 20px;
  height: 100%;
  /* background: #f5f5f5; */
  background-color: #f9f9f9;
  border-radius: 10px 0px 0 10px;
  cursor: move;
}

[data-theme="dark"] .bangumi-copy-title-flow{
  background-color: #2d2e2f;
}


[data-theme="dark"] .bangumi-copy-title-flow-header {
  background-color: #353535;
}

.bct-control{
  display: inline-block;
  margin-right: 2px;
}

.bct-control input, select{
  border: none;
}


.bct-control  input:focus, select:focus {
  outline: none;
}


[data-theme="dark"] .bct-control {
	color: #f5f5f5;
} 

.bct-button {
  /* --button-size: 2rem;
  width: var(--button-size);
  height: var(--button-size); */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  padding: 2px 2px;
  border: 1px solid transparent;
}

.bct-button:hover {
	border: 1px solid lightgray;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}

.bct-button svg {
  width: 100%;
  height: 100%;
  /* Let the button control the size */
  flex: 1;
}

.bct-button svg {
  max-width: 21px;
  max-height: 21px;
}


.bct-button span{
	font-size: 12px!important;
	font-weight: normal!important;
	padding-right: 4px!important;
}


[data-theme="dark"] .bct-button svg {
	filter:invert(1)
}

.bct-title-language {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.bct-checkbox .bct-checkmark {
  /* You had no styles for this in the original, but leave this as a placeholder */

}


.bct-checkbox span:last-child {
	margin-left: 2px;
}

.bct-select {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20px;
  cursor: pointer;
  color:#555;
  border-radius: 5px;
  border-color: #ccc;
  padding-top:1px
}
